@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');


body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    overflow: hidden;
}

video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	object-fit: cover;
	opacity: 0.8;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-color: #344;
	mix-blend-mode: overlay;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 10px 40px;
    margin-bottom: 100px;
    color: rgb(230, 241, 229);
}

h1 {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 10px;
    z-index: 30;
    text-transform: capitalize;
}

h2 {
    font-size: 18px;
    font-weight: 100;
    margin-top: 2px;
    z-index: 30;
}


/* Cursor  */
.txt-type > .txt {
    border-right: 0.2rem solid #fff;
}

@media(min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
        font-weight: 200;
    }

    h2 {
        font-size: 1rem;
    }
}